extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb.blue
    a(href='/') ← Back
  .gradient-container
    article.grid-container.portfolio-intro.portfolio-project
      .grid-x
        .cell.small-6.medium-9.large-9

          h1 Ryan K. Collins

          p.lead.text-light
            | Full Stack JavaScript Developer | Musician | All Around Good Guy

          .portfolio-bio
            p
              | After years as a professional in the music industry (including 6.5 years as a guitarist in the Navy band), I realized that I enjoy playing music more when I don't have to rely on it as a paycheck.  I felt the need to develop new skills to reach my potential as a professional and person,  and began learning Web Development.  In doing so, I have found something else that I truly enjoy, something that challenges me to learn more and be better every day!
              
        .cell.portfolio-meta.small-6.medium-2.large-3
          h6 Skills

          ul
            li HTML
            li CSS | Boostrap
            li JavaScript | Node | Express
            li JSON
            li Pug 
            li VS Code
            li Github | Github Desktop
          h6 Contact Info

          ul
            li 317-909-4484
            li ryan.k.collins222@gmail.com

          a.button.expanded(href='https://www.linkedin.com/in/ryan-collins-7869b0198/' target="_blank") LinkedIn
          a.button.expanded(href='https://github.com/ryancollins222' target="_blank") GitHub
          //- a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  